.button {
    border-radius: 7px;
    border-top: 1px solid transparent;
    margin: 6px 9px 5px 0px;
    padding: 0px 10px 0px 10px;
    background-color: transparent;

    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
}

.button:hover  {
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 7px;
    border-top: 1px solid rgba(64, 64, 64, 0.5);
    margin: 6px 9px 5px 0px;
    padding: 0px 10px 0px 10px;

    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
}

.button-inside {
    background-color: transparent;
}
