.network-upper {
    margin: -1px 10px 0px 0px;
    font-family: 'Segoe Fluent Icons';
    font-size: 16pt;
}

.network-under {
    margin: -1px -21px 0px 0px;
    font-family: 'Segoe Fluent Icons';
    font-size: 16pt;
    color:rgba(90, 90, 90, 1);
}
