.pfp {
    background-image: url("/home/heartblin/.face");
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgba(64, 64, 64, 0.5);
    box-shadow: 0 0 1px black inset, 0 0 1px 0 black;
    border-radius: 420px; /* Funny */
    padding: 0px 2.7em 0px 0em;
    margin: 11px 15px 10px 0px;
}
